!src/
!src/data/
data/
data_splits/*.parquet
data_splits/*.csv
!data_splits/train.parquet
!data_splits/val.parquet
!data_splits/test.parquet
feature_matrices/

__pycache__/
*.pyc
.env
.venv/
.vscode/
cyber207_env
nextcloud_sync.sh
best_mlp.pt
